.podium-place h3, .podium-place p {
    margin: 5px 0;
}

/* Styles for the rest of the leaderboard */
.leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.participant {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.podium-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1;
    padding: 1em;
    border-radius: 0.75em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}
body{
  width: 99%
}

.podium-place:hover {
    transform: translateY(-10px);
}

.place-1 {
    background-color: gold;
    height: 300px; /* Tallest */
}

.place-2 {
    background-color: silver;
    height: 250px;
}

.place-3 {
    background-color: #cd7f32; /* Bronze */
    height: 200px;
}

.place-1, .place-2, .place-3 {
    padding: 1em;
}

@media (max-width: 600px) {
    .podium {
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    /* Keeps the winner (place-1) visually in the center */
    .podium {
        flex-direction: row;
    }

    .place-1 {
        padding: 2em 1em;
        order: 2; /* Move to the middle */
    }

    .place-2 {
        padding: 1.5em 1em;
        order: 1; /* Stay to the left */
    }

    .place-3 {
        order: 3; /* Stay to the right */
    }

    .podium {
        display: flex;
        justify-content: center;
        align-items: flex-end; /* Aligns the base of the podium places */
        gap: 1.5em;
        margin-bottom: 40px;
    }
}

.stats {
    text-align: end;
}